* {
    font-family: 'Indie Flower', cursive;
}

img {
    height: 200px;
    width: 300px;
}

select {
    display: block;
    margin: auto;
}

div img, h2, p{
    margin: auto;
    display: block;
    text-align: center;

}

div {
    width: 320px;
    height: 210px;
    margin-top: 40px;
    margin-bottom: 20px;
    float: left;
}

h1 {
    text-align: center;
}

footer {
    float: left;
}


@media only screen and (max-width: 767px){
    body {
        background-color: green;
    }
}

